# OS
.DS_Store

# IDE
.idea/
.vscode/
.history/
.trae/

# Dependencies
node_modules/
pnpm-lock.yaml

# Build
dist/
.vite/

# Data
datasets/
*.csv

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
env/

# Env
.env
.env.*

# Docker
postgres-data/
