/.history

.DS_Store

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
env/

.env
.env.*

node_modules/
dist/
.vite/
pnpm-lock.yaml

postgres-data/
datasets/allStar-dr17-synspec_rev1.fits
datasets/
